extends _pug-includes/layout-coming.pug


block content
    .mh-full-screen.d-flex.align-items-center.dark-overlay
        img.bg-image(src=`${path}img/photo/photo-1490578474895-699cd4e2cf59.jpg`, alt="Coming Soon")
        .container.text-white.text-center.text-lg.overlay-content.py-6.py-lg-0
            h1.text-hide.mx-auto.mb-6 Join Complete
            h1.mb-5.text-shadow Join Complete
            a.text-white(href='/login') Go login
            a.text-white(href='/') Go Home

