.d-flex.justify-content-between.align-items-center.flex-column.flex-md-row.mb-4

    .mr-3
        p.mb-3.mb-md-0 검색결과 <strong>#{placeCount}</strong>건
    div
        label.form-label.mr-2(for="form_sort") 정렬
        select.selectpicker(name="sort", id="form_sort", data-style="btn-selectpicker", title="")
            option(selected) #{sortCategory}
            option(value=평점순) 평점순
            option(value=거리순) 거리순
